<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-success card-danger">
                        <h4 class="card-title">Registro de Dependencias</h4>
                        <p class="card-category">Sistema de Contratistas, Concesiones y Temporales</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nit / Cédula" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombre" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Cargo" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Área" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Celular" type="text">
                                </mat-form-field>
                              </div>
                              <div class="row">
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Teléfono" type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="N° Extensión" type="number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Correo Electrónico" type="text">
                                </mat-form-field>
                              </div>
                            </div>
                          
  
                            <div class="fondoInferior">
                              <button mat-raised-button type="submit" class="colorButton">Registrar</button>
                              <button mat-raised-button type="submit" class="colorButton">Editar</button>
                              <button mat-raised-button type="submit" class="colorButton">Limpiar</button>
                              <button mat-raised-button type="submit" class="colorButton">Eliminar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
             
        </div>
    </div>
  </div>
  