*{
    margin: 0;
    padding: 0;
    
}
.header {
    padding: 10% 10%;
    margin: 0;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
h1{
    color: white;
}
.circulo{
    width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#A6CE38;
     margin: -100px 200px;
}

.circulo1{
    width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #FBAF17;
     margin: -100px 600px;
}

.circulo2{
    width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #EC0677;
     margin: -100px 1000px;
}

.autorizado{
    font-family: monospace;
    color: white;
    width: 100px;
     height: -100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 100%;
     margin: 20px 350px;
}

.noAautorizadoVideo{
    font-family: monospace;
    color: white;
    width: 100px;
     height: -100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 100%;
     margin: -80px 750px;
}

.noAautorizado{
    font-family: monospace;
    color: white;
    width: 100px;
     height: -100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 100%;
     margin: 20px 1150px;
}

.circulo{
    width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#A6CE38;
     margin: -100px 200px;
}

.circuloAutorizado{
    width: 250px;
     height: 250px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#A6CE38;
     margin: 80px 530px;
}

.circuloNoAutorizadoVideo{
    width: 250px;
     height: 250px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#FBAF17;
     margin: 80px 530px;
}

.circuloNoAutorizado{
    width: 250px;
     height: 250px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background:#EC0677;
     margin: 80px 530px;
}
