<div class="main-content">
  <div class="card">
    <div class="card-header card-header-danger">
        <h4 class="card-title">Actividad</h4>
        <p class="card-category">Se Crean Actividades Necesarias</p>
    </div>
    <div class="card-body">
    </div>

    <div class="col-md-3">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Actividad">
      </mat-form-field>
    </div>
  
    <div class="card-body">
    </div>

    <div class="fondoInferior">
      <button mat-raised-button type="submit" class="colorButton">Registrar</button>
      <button mat-raised-button type="submit" class="colorButton">Limpiar</button>
      <button mat-raised-button type="submit" class="colorButton">Editar</button>
      <button mat-raised-button type="submit" class="colorButton">Eliminar</button>
    </div>
    
  </div>
</div>