.colorButton {
  background-color: #0f385a;
  color           : white;
  width           : 150px;
  height          : 35px;
  margin          : 16px;
}

.fondoInferior {
  background-color: #0f385a;
  border-radius   : 8px;
  text-align      : center;
  color           : #A6CE38;
  font-family     : Arial, Helvetica, sans-serif;
  font-weight     : bolder;
  margin          : 2rem auto;
}

.seleccion {
  width: 200px;
}

.input {
  border       : 2px solid #1FB2DE;
  border-radius: 5px;
  margin-right : 30%;
  margin-left  : 30%;
  outline      : none;
  padding      : 8px;
  box-sizing   : border-box;
  transition   : 3s;
}

.label {
  color: white;
}

mat-icon {
  color: #0f385a;
}

.card-header {
  display        : flex;
  justify-content: center;
  flex-direction : column;
  align-items    : center;
}

.login-form {
  padding: 16px;
}

.main-content {
  display        : flex;
  justify-content: flex-end;
  align-items    : center;
  margin-top: 150px;
  margin-right: 20px;
}

.fondo{
  background-image: url('https://i.ibb.co/d6Lynny/poli-background-1.png') !important;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
