<div class="main-content">
<div class="card">
<div class="card-header card-header-success card-usuarios">
  <p class="card-title">Aquí podrá: consultar, editar, eliminar y/o agregar, nuevos usuarios.
  <button mat-fab aria-label="Example icon-button with a heart icon" title="Crear nuevo registro">
    <mat-icon>add</mat-icon>
  </button>
</p>
</div>
<div class="card-body">
  <div class="card">
    <div class="card-header header">
        <mat-form-field>
          <mat-label>Filtro De Búsqueda</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Tatiana" style="color: white;">
        </mat-form-field>
    </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="numeroDocumentoUsuario">
          <th mat-header-cell *matHeaderCellDef><b> Número de documento</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.numeroDocumentoUsuario}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombreCompletoUsuario">
          <th mat-header-cell *matHeaderCellDef><b>Nombre</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreCompletoUsuario}} </td>
        </ng-container>

        <ng-container matColumnDef="tipoUsuario">
          <th mat-header-cell *matHeaderCellDef><b>Tipo Usuario</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.tipoUsuario}} </td>
        </ng-container>
      
        <!-- Weight Column -->

        <ng-container matColumnDef="star" >
          <th mat-header-cell *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element">          
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item> <mat-icon>edit</mat-icon> <span> Editar</span></button>
              <button mat-menu-item> <mat-icon>delete</mat-icon> <span> Eliminar</span></button>
              
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator class="footer" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>



