.colorButton{
    background-color: #1fb2de;
    color: white;
    width: 150px;
    height: 35px;
    margin: 32px;
}
.fondoInferior{
    background-color: #0f385a;   
    border-radius: 8px;
    text-align: center;
    color: #A6CE38;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.seleccion{
    width: 200px;
}
.label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 200px;
}
.input{
    border-radius: 50x;
}
.header{
	background-color: #244665;
	color: white;
}

.footer{
	background-color: #244665;
	color: white;	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white	;
  opacity: 1; /* Firefox */
}
.mat-fab{
    background-color: #FBAF17;
    margin-left: 80%;
}
mat-label{
    color: white;
}
.botonEmergente{
    border-radius: 10px;
    background-color: #0f385a;
}