<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-success card-usuarios">
                      <h4 class="card-title">Verificación autorización de ingreso</h4>
                      <p class="card-category">Por favor ingrese el número de documento del colaborador que desea verificar</p>
                  </div>
                  <br>
                    <div class="fondoInferior">
                      <br>
                      <br>
                      <label for="tipodoc" class ="label">Número de documento: </label>
                      <input name ="tipodoc"class ="input">
                      <br>
                     <button mat-raised-button type="submit" class="colorButton">Consultar</button>
                      <h1>AUTORIZADO</h1>
                      <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        