<div class="main-content">
              <div class="card">
                  <div class="card-header card-header-success card-usuarios">
                      <h3 class="card-title"><b>CONSULTA AUTORIZACIÓN DE INGRESO</b></h3>
                  </div>
                  <br>
                    <div class="fondoInferior">
                      <h3 class ="label">Número de documento:</h3>
                      <input class ="input" type="number" required placeholder="Ej: 12345678">
                     <button mat-raised-button type="submit" class="colorButton">Consultar
                      <mat-icon>search</mat-icon>
                     </button>
                     
                      <h1><b>AUTORIZADO</b></h1>
                  </div>
                  <br>
                </div>
            
        