.header{
	background-color: #244665;
	color: white;
}

.footer{
	background-color: #244665;
	color: white;	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white	;
  opacity: 1; /* Firefox */
}
.mat-fab{
	background-color: #FBAF17;
	//background-color: #1FB2DE;
	margin-left: 80%;
  }

.container-form .mat-form-field + .mat-form-field {
	margin-left: 8px;
}

.container-form {
	display: flex;
	flex-wrap: wrap;
}

.select {
	width: 300px;
	margin-bottom: 20px;
}