.colorButton{
    background-color: #1fb2de;
    color: white;
    width: 150px;
    height: 35px;
    margin: 20px;
}
.fondoInferior{
    background-color: #0f385a;    
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333333;
    background: #fff;
    width: 100%;
}