//Este formulario corresponde a Registro Contratistas
.colorButton{
    background-color: #1fb2de;
    color: white;
    width: 150px;
    height: 35px;
    margin: 20px;
}
.fondoInferior{
    background-color: #0f385a;    
}
