<div class="main-content">
    <div class="card">
      <div class="card-header card-header-danger">
          <h3 class="card-title"><b> VIDEO DE INDUCCION DE MANEJO DE POLI_CCT </b></h3>
          <p class="card-category"></p>
      </div>
      <div class="card-body" style="text-align:center;">
          <h4 class="card-title"></h4>

          <video controls (click)="toggleVideo()" #videoPlayer width="640" height="400" allow="autoplay">
            <source src="../src/assets/videos/poli.mp4" type="video/mp4" /> 
                 Tu navegador no soporta HTML5 video.
            </video>
             <p class="card-category"> 
              <h3>Valide el video:<input type="checkbox" id="cbox" value="first_checkbox">
              <button mat-raised-button type="submit" class="colorButton">Regresar</button>
              <button mat-raised-button type="submit" class="colorButton">Guardar</button> 
              </h3>    
      </div>
    </div>
  </div>
