<div class="main-content">
    <div class="card">
      <div class="card-header card-header-danger">
          <h4 class="card-title">Video de induccion de manejo de POLI_CCT</h4>
          <p class="card-category"></p>
      </div>
      <div class="card-body" style="text-align:center;">
          <h4 class="card-title"></h4>
          <video width="640" height="360" controls center>
             <source src="video.mp4"  type="video/mp4" >
              Tu navegador no soporta HTML5 video.
          </video>
             <p class="card-category"> 
              <h3>Valide el video:<input type="checkbox" id="cbox" value="first_checkbox">
              <button mat-raised-button type="submit" class="colorButton">Regresar</button>
              <button mat-raised-button type="submit" class="colorButton">Guardar</button> 
              </h3>    
      </div>
    </div>
  </div>
