<div class="main-content">
    <div class="card">
      <div class="card-header card-header-danger">
          <h3 class="card-title"><b> VIDEO DE INDUCCION </b></h3>
          <p class="card-category"></p>
      </div>
      <div class="card-body" style="text-align:center;">
          <h4 class="card-title"></h4>
 
           <iframe width="798" height="449" setTimeout
              src="https://www.youtube.com/embed/GLqAAARwKlU?autoplay=1&loop=1&controls=0&rel=0&modestbranding=1&end=432" 
              frameborder="0" 
              allowfullscreen="allowfullscreen">
            </iframe>

          <p class="card-category"> 
            <div class="fondoInferior">
              <section class="example-section">
                <h3>Valide el video :  
                  <mat-checkbox class="example-margin" 
                    [(ngModel)]="checked" 
                    [disabled]="disabled">
                  </mat-checkbox>
                  <button mat-raised-button type="submit" class="colorButton" [disabled]="disabled">Guardar</button> 
                </h3>    
              </section>
            </div>
            
        </div>
    </div>
  </div>